'atom-text-editor':
  'f4': 'ensime:go-to-definition'

'atom-text-editor.ensime-implicits-active':
  'escape': 'ensime:cancel'

'atom-text-editor':
  'cmd-ctrl-i': 'ensime:show-implicits'
  'cmd-shift-t': 'ensime:search-public-symbol'
